
TSharp.UnitOfWorkGenerator.API/bin/

TSharp.UnitOfWorkGenerator.API/obj/

.vs/

TSharp.UnitOfWorkGenerator.EFCore/bin/

TSharp.UnitOfWorkGenerator.EFCore/obj/

TSharp.UnitOfWorkGenerator.EFCore.Utils/bin/

TSharp.UnitOfWorkGenerator.EFCore.Utils/obj/

.idea/

TSharp.UnitOfWorkGenerator.Samples/bin/

TSharp.UnitOfWorkGenerator.Samples/obj/
