
TSharp.UnitOfWorkGenerator.API/bin/

TSharp.UnitOfWorkGenerator.API/obj/

.vs/

TSharp.UnitOfWorkGenerator.Core/bin/

TSharp.UnitOfWorkGenerator.Core/obj/

TSharp.UnitOfWorkGenerator.Core.Utils/bin/

TSharp.UnitOfWorkGenerator.Core.Utils/obj/

.idea/

TSharp.UnitOfWorkGenerator.Samples/bin/

TSharp.UnitOfWorkGenerator.Samples/obj/
