
src/TSharp.UnitOfWorkGenerator.API/bin/

src/TSharp.UnitOfWorkGenerator.API/obj/

.vs/

src/TSharp.UnitOfWorkGenerator.EFCore/bin/

src/TSharp.UnitOfWorkGenerator.EFCore/obj/

src/TSharp.UnitOfWorkGenerator.EFCore.Utils/bin/

src/TSharp.UnitOfWorkGenerator.EFCore.Utils/obj/

.idea/

src/TSharp.UnitOfWorkGenerator.Samples/bin/

src/TSharp.UnitOfWorkGenerator.Samples/obj/

TSharp.UnitOfWorkGenerator.EFCore.Tests/bin/

src/TSharp.UnitOfWorkGenerator.EFCore.Tests/obj/

src/TSharp.UnitOfWorkGenerator.API/bin/

src/TSharp.UnitOfWorkGenerator.EFCore.Tests/bin/


TSharp.UnitOfWorkGenerator.sln.DotSettings.user

src/TSharp.UnitOfWorkGenerator.DataAccess/bin/

src/TSharp.UnitOfWorkGenerator.DataAccess/obj/
